<!DOCTYPE html>
<html>
  <head>
    <title><%= imgdata.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= imgdata.title %></h1>
    <p>欢迎使用<%= imgdata.text%></p>
    <img src="<%= imgdata.img %>" alt="">
  </body>
</html>
